<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>955495845730-rf59avsth74sq4is005jgocm6lm9c7bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955495845730-rf59avsth74sq4is005jgocm6lm9c7bc</string>
	<key>API_KEY</key>
	<string>AIzaSyBkXCGSaToaQEMPCh-Kco9x5nIowAuI-Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>955495845730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.mixin27.flutterChatResearch</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-research</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-research.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955495845730:ios:0b083319596f2b14a2663b</string>
</dict>
</plist>